.principal {
  background-color: black;
  color: white;
  letter-spacing: -1px;
  font-size: 0.8em;
  padding: 1em;
  text-align: center;
  line-height: 1.1;
}

.foto {
  background-image: url("mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 220px;
  height: 220px;
}

@media (min-width: 480px) {
  .principal {
      text-align: start;
      font-size: 1em;    
    }

  .foto {
    float: right;
  }

  section > p {
    font-size: 1.1em;
  }
}



section > p {
  font-size: 0.8em;
   color: #4F4F4F;
   font-weight: 700;

}

