form > header {
    color: grey;
    font-weight: bold;
    font-size: 1.3em; 
    margin-left: 0.6em;

}
form {
    margin: 1em;
    color: rgba(0, 0, 0, 0.774);
    font-weight: bold;
}


button {
    margin-top: 1em;
    margin-left: 1.3em;
    background-color: black;
    color: white;
    font-size: 0.6em;
}

.form {
    font-size: 0.8em;
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

form > input{
    background-color: darkgray;
    margin: 1em;
}

textarea {
    background-color: darkgray;
    margin-left: 1em;
}