div:hover {
    transform: scale(1.2);
    transition-timing-function: linear;
    transition-duration: 3s;
    
   
}

header {
    animation-name: salida;
    animation-duration: 2s;
}


.foto_1, .texto_1 {
    animation-name: salida;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-delay: 1s;
}

.foto_2, .texto_2 {
     animation-name: salida;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-timing-function: linear;
}

.foto_3, .texto_3 {
    animation-name: salida;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-timing-function: linear;
}


@keyframes salida {
    0% {
        opacity: 0;
        animation-timing-function: linear;
    }

    50% {
        animation-timing-function: linear;
        opacity: 0.3;
    }

    60%{
        opacity: 0.6;
        animation-timing-function: linear;
    }

    75% {
        opacity: 0.8;
        animation-timing-function: linear;
    }
    100% {
        
        opacity: 1;
    }
}