body {
    width: 90vw;
    height: 90vh;
    background-color: #F2A54A;
    text-align: center;
}



div > img:first-child {
    width: 80px;
    height: 80px;
    border-radius: 60% ;
    margin-top: 10px;

}

img {
    width: 140px;
    height: 80px;

}


 p {
    color: #de73ff;
    font-size: 0.5em;
    background-color: #7F74FE;
    font-weight: bolder;
    padding: 10px;
}

