.principal {
    display: grid;
    grid-template-areas: "header header header"
                         "perfil_1 perfil_2 perfil_3"
                         "texto_1 texto_2 texto_3";
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 200px );
    column-gap: 15px;
    text-align: center;
    justify-content: center;
    
}
header {
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    grid-area: header;
    
}

.foto_1 {
    grid-area: perfil_1;
    background-color: white;
    text-align: center;
 
}


.texto_1 {
    grid-area: texto_1;
    
}
.foto_2 {
    grid-area: perfil_2;
    background-color: white;
    text-align: center;

}
.texto_2 {
    grid-area: texto_2;
    
}

.foto_3 {
    grid-area: perfil_3;
    background-color: white;
    text-align: center;

}
.texto_3{
    grid-area: texto_3;
}