body {
    position: relative;
    text-align: center;
}

form {
    display: inline-block;
    position: relative;
  max-width: 800px;
  min-width: 400px;
 
}
[required] {
    border:1px solid red;
}
fieldset {
    background-color: lightgray;
    padding: 1rem;
}

fieldset:hover{
    background-color: darkgray;
}

fieldset:first-child,fieldset:nth-last-child(2){
    border-bottom: 5px solid black;
}

button {
    background-color: black;
    color: white;
    border-style: none;
}