.lista li:last-child {
  background-color: rgb(60, 110, 175);
}

.lista li:nth-child(odd) {
  text-decoration: underline;
  text-decoration-color: green;
}

.lista > li {
  display: inline;
}

.lista {
  word-spacing: 10px;
}

.lista > li:first-child::after {
  content: "🕶";
}
.lista > li:last-child::after {
  content: "🤠";
}

.lista > li:nth-child(2)::after {
  content: "🤑";
}

.lista > li:nth-child(3)::after {
  content: "😬";
}

.lista > li:nth-child(4)::after {
  content: "☠";
}

.lista > li:nth-child(5)::after {
  content: "🧐";
}

.lista > li:nth-last-child(3) {
  font-size: 2em;
  text-transform: uppercase;
}
#provincias > li {
  list-style-type: upper-roman;
}

#provincias > li:nth-child(2) {
  list-style-type: none;
}
